!!!
%html
  %head
    %title foodin.me
    %link{rel: 'stylesheet', type: 'text/css', href: url('/main.css')}/
  %body
    %h1 FoodIn.me
    %a.getfood{href: 'javacript:void(0)'} Food In Me.

    = javascript_tag 'application'
