!!!
%html
  %head
    %title foodin.me
    != stylesheet_tag 'main'
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no'}/
    %meta{ name: 'apple-mobile-web-app-status-bar-style', content: 'black-translucent' }
    %meta{ name: 'apple-mobile-web-app-capable', content: 'yes'}
  %body
    %section.content

    != javascript_tag 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=true'
    != javascript_tag 'application'
