@mixin teeth {
  display: block;
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  width: 100%;
  transition: border-width .5s ease;
}

section.start {
  span.top-teeth {
    @include teeth;
    background-image: url('/assets/top-teeth.svg');
    border-top: 1rem solid #e37d7d;
    height: 6.1rem;
    z-index: 5;
    top: 0;
    &.close {
      border-top-width: 14rem;
    }
  }

  span.top-teeth-shadow {
    @include teeth;
    background-image: url('/assets/top-teeth-shadow.svg');
    border-top: 1rem solid #e37d7d;
    height: 6.1rem;
    width: 100%;
    z-index: 2;
    top: 0;
    &.close {
      border-top-width: 14rem;
    }
  }

  span.bottom-teeth {
    @include teeth;
    background-image: url('/assets/bottom-teeth.svg');
    border-bottom: .5rem solid #e37d7d;
    height: 5.35rem;
    width: 100%;
    bottom: 0;
    z-index: 4;
    &.close {
      border-bottom-width: 15rem;
    }
  }

  span.bottom-teeth-shadow {
    @include teeth;
    background-image: url('/assets/bottom-teeth-shadow.svg');
    border-bottom: .5rem solid #e37d7d;
    height: 5.35rem;
    width: 100%;
    bottom: 0;
    z-index: 1;
    &.close {
      border-bottom-width: 15rem;
    }
  }

  h1 {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 3;
    text-align: center;
    height: 4.9rem;
    a {
      display: inline-block;
      background-color: #6fbfa4;
      padding: 1rem;
      border-radius: .3rem;
      box-shadow: -.3rem .3rem 0 #3a393a;
    }
  }
}
